@media screen and (min-width:1601px) and (max-width:1700px) {


 header h1{
        left: 0;
    }
    
    div.wrap70{
        width: 80%;
        padding: 30px 20px;
    }
    
    header nav ul{
        text-align: center;
    }



    section ul li.secSlide span.big{
        font-size: 4em;
            top: 46%;
    }
    
    section ul li.secSlide span.big:first-child{
        left: 20%;
    }
    
    section ul li.secSlide span.big:nth-child(2){
        right: 18%;
    }
    
    section ul li a.secVM{
        width: 15%;
        height: 5%;
        right: 18%;
        top: 58%;
    }
    
    div#historySld{
        width: 1500px;
    }
    
    .container .hisItem{
        width: 1500px;
    }
    
    div#proCam div.proWrap > figure > figcaption{
        top: 45%;
    }
    
    div#proCam div.proWrap > div#camCenter > figure > figcaption{
        top: 45%;
        left: 18%;
        width: 70%;
    }
    
    div#proCam div.proWrap div#camCenter > figure:first-child{
        margin-bottom: 10px
    }
    
    div#proCam div.proWrap div#camCenter > figure:last-child{
        margin-top: 14px;
    }
    
    div#proCam div.proWrap > div#camCenter > figure:hover figcaption > img{
        padding-top: 10px;
        width: 10%;
    }
    
    div#proCam div.proWrap > div#camCenter > figure:last-child > span{
        top: 8%;
    }
    
    div#proCam div.proWrap > figure > figcaption{
        font-size: 12px
    }
    div#proLens div#lensTop figure{
        margin: 8px;
    }
    
    div#proLens div#lensTop figure:first-child{
        width: 57%;
    }
    
    div#proLens div#lensTop figure:last-child{
        width: 39%;
    }
    
    div#proLens div#lensBot{
        margin-top: 5px;
    }
    
    div#proLens div#lensBot figure:first-child {

    margin: 10px;
}
    
    div#proLens div#lensBot figure:nth-child(2) {
    margin: 10px;
}
    
    div#proLens div#lensBot div.proVM{
        margin: 10px 25px 10px 10px;
    }
    
    div#proLens div#lensBot div.proVM img{
        width: 90%;
        padding-top: 30%;
    }
    
    div#proLens div#lensTop figure figcaption{
        top: 40%;
        left: 20%;
        width: 60%;
        font-size: 13px
    }
    
    div#proLens div#lensTop figure figcaption img{
        padding-top: 10px;
    }
    
    div#proLens div#lensBot figure figcaption{
        width: 65%;
        top: 35%;
        left: 15%;
        font-size: 11px
    }
    
    
    
    div#susWrap div#susBot div#botTxt,
    div#susWrap div#susTop div#topTxt{
        width: 60%;
    }
    div#susWrap div#susBot img,
    div#susWrap div#susTop img{
        width: 36%;
    }

    
    div.shopCont{
        width: 60%;
        height: 700px;
    }
    

    
}